html { 
    background: url(https://images.pexels.com/photos/1934846/pexels-photo-1934846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

* {
    max-width: 100%;
    overflow:;
    padding: 0;
    margin:0;
}

.headerbox {
    display: flex;
    padding: 1%;
    background-color: peachpuff;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}

.bigname {
    font-size: 2rem;
    font-family: arial;
    /* border:1px solid black; */
    padding: 1%;
}
.buttons {
    display: flex;
    /* border:1px solid black; */
    text-align:center;
    justify-content:space-evenly;
    width:66%;
    align-items:center;
}
.b {
    
    text-decoration:none;
    font-size: 3rem;
    padding:2%;
    border-radius:25px;
    color:black;
    /* background-color:white; */
    font-family:arial;
    text-transform:uppercase;
    transition:.2s;
}
.b:hover {
    background-color:azure;
    transform:scale(1.1);
}
.project{
    display:flex;
    justify-content:center;
    margin:45px;
    font-size:60px;
}
.multiplechoice {
    margin-right:auto;
    margin-left:auto;
    width:150vh;
    display:flex;
    margin-top: 4%;
    justify-content: space-evenly;
    align-content: space-evenly;
    height:60vh;
    flex-wrap:wrap;
}    

.image {
    background:url(https://picsum.photos/200);
    height:200px;
    width:200px;
    justify-content:space-evenly;
    align-content: center;
    display:flex;
    box-sizing:border-box;
    margin-left:90px;
    margin-right:90px;
    flex-wrap:wrap;
    border-radius:100px;
    
}

.text {
    text-shadow:2px 2px white;
    text-decoration:none;
    font-size: 30px;
    color:white;
    font-family:arial;
}